require('./city-list-group.css');
<city-list-group>
  <ul if={cityGroupIndexs.length}>
    <li each={group, index in cityGroupIndexs}>
      <a href="javascript:;" onclick={handleClick} class={getActiveGroupIndex() === group && 'active'} >{group}</a>
    </li>
  </ul>
  <script>
    var tag = this;
    var store = tag.opts.store;
    var storeData = store.getState();
    var unsubscribe = null;
    var activeGroupIndex = storeData.activeGroup.index;
    tag.handleClick = function(e){
      if(e.item.group !== tag.getActiveGroupIndex()){
        store.dispatch({
          type: 'CHANGE_ACTIVE_GROUP',
          index: e.item.group,
          trigger: 1
        })
      }
      e.preventUpdate = false;
      
    }

    tag.cityGroupIndexs = storeData.cityGroupIndexs || [];
    tag.getActiveGroupIndex = function(){
      //每次都从store中获取，不能缓存
      return store.getState().activeGroup.index;
    } 
    tag.on('before-mount', function(){
      unsubscribe = store.subscribe(function(){
        if(tag.getActiveGroupIndex() !== activeGroupIndex){

          tag.update();
          activeGroupIndex = tag.getActiveGroupIndex();
        }
      })
    });
    tag.on('before-unmount', function(){
      unsubscribe();
    });

  </script>
</city-list-group>