@import '../var2016';

[riot-tag="riot-calendar"]{
  .pure-u-1-8 {
    width: 14.285%;
    text-align: center;
  }
  .weeks{
    font-size: rSize(26);
    color: $darkblack;
    line-height: rSize(26 + 22 * 2);
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 580 / 640 * 100%;
      height: 1px;
      background-color: $calendar-line-color;
      opacity: 0.97;
      left: 30 / 640 * 100%;
      bottom: 0;
      z-index: 2;
    } 
  }
  .control{
    text-align: center;
    .title{
      color: $darkblack;
      font-size: rSize(26);
      line-height: 2;
    }
    .prev,.next{
      position: relative;
      i{
        position: absolute;
        width: rSize(16);
        height: rSize(16);
        top: 50%;
        left: 50%;
        margin-top: -1 * rSize(8);
        margin-left: -1 * rSize(8);
        border: {
          top: none;
          right: none;
          left: 2px solid $main-color;
          bottom: 2px solid $main-color;
        }
      }
      &.disable i{
        border-left-color: $calendar-disable-arrow-color;
        border-bottom-color: $calendar-disable-arrow-color;
      }
    }
    .prev i{
      transform: rotate(45deg);
    }
    .next i{
      transform: rotate(-135deg);
    }
    margin-bottom: rSize(16);
  }
  .calendar__body{
    padding: rSize(13) 0;
    .pure-g{
      margin-top: rSize(16);
    }
  }
  .calendar__body--cur,.calendar__body--other{
    will-change: transform, opacity;
  }
  .day {
    height: 32px;
    line-height: r-size(32);
    text-align: center;
    color: $calendar-day-disable-color;
    i {
      font-style: normal;
    }

    // &.disable
    //   color: $calendar-gray-text
    span {
      display: none;
    }
  }
  .enable {
    color: $calendar-day-color;
  }

  /*.curr {
    color: $high-link-text;
  }*/

  .pure-u-1-8 {
    position: relative;
  }

  .choice {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -16px;
    background-color: $main-color;

    @include border-radius(50%);

    color: #fff;

    @include box-sizing;

    line-height: r-size(32);
    display: inline-block;
  }

  .high {
    background-color: $calendar-day-high-color;
    .day.enable{
      color: #fff;
    }
  }

  .checkoutrange {
    font-weight: bold;
  }

  .rangeStart, .rangeEnd {
    &:before {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: $calendar-day-high-color;
      content: "";
    }
  }

  .rangeEnd {
    &:before {
      left: 0;
    }
  }
}