<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>huazhu首页</title>
</head>
<body>
  <div class="wrap">
    <div class="header">
      <div class="header_bg"></div>
      <div class="header_cont">
        <div class="header_top clearfix">
          <div class="left">
            <a href="javascript:;">个人中心</a>
          </div>
          <div class="right">
            <a href="javascript:;">我的订单</a>
          </div>
        </div>
        <div class="logo"></div>
      </div>
    </div>
    <div class="search">
      <div class="back"></div>
      <div class="search_panel_box">
        <div class="search_panel">
            <input type="text" id="search_input"/>
            <label class="search_input_label search_input_label_1" for="search_input">500+城市等你搜索</label>
            <label class="search_input_label search_input_label_2" for="search_input">城市/酒店名称/位置/地标</label>
            <div class="search_panel_button">
              <span class="search_panel_button_1"></span>
              <span class="search_panel_button_2"></span>
            </div>
        </div>  
      </div>
    </div>
    <div class="quick-panel">
        <nav>
            <a href="javascript:;" class="active" data-index="1">历史搜索</a>
            <a href="javascript:;" data-index="2">推荐酒店</a>
            <a href="javascript:;" data-index="3">即将入住</a>
        </nav>
        <div class="list">
            <span class="triangle-box"><i class="triangle"></i></span>
            <ul>
                <li>列表1</li>
                <li>列表2</li>
                <li>列表3</li>
            </ul>
        </div>
    </div>
    <div class="recommend-city">
      <h3>热门城市</h3>
      <ul>
        (li>)*3
      </ul>
    </div>
  </div>
  <script src="common.js"></script>
</body>
</html>